
body {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #161c12;
    color: #00ff99;
    text-transform: uppercase;
    margin: 0;
    overflow: hidden;
    animation: flicker 1.5s infinite alternate;
}


h2 {
    /* font-size: 80px;  */
    font-weight: 300;
    margin: 0;
    text-shadow: 
        0 0 5px rgba(0, 255, 153, 0.5), 
        0 0 10px rgba(0, 255, 153, 0.3);
}

.container {
    text-align: center;
    border: 2px solid #00ff99;
    padding: 2rem;
    box-shadow: 0 0 15px rgba(0, 255, 153, 0.3);
}

#status {
    color: #00ff99;
    margin-top: 10px;
    display: block;
    text-shadow: 0 0 5px rgba(0, 255, 153, 0.5);
}

.scanlines {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        rgba(18, 16, 16, 0) 50%, 
        rgba(0, 0, 0, 0.25) 50%
    );
    background-size: 100% 4px;
    z-index: 10;
    pointer-events: none;
}

/* Animations */
@keyframes flicker {
    0% { opacity: 0.95; }
    5% { opacity: 0.9; }
    10% { opacity: 0.95; }
    100% { opacity: 1; }
}

.keyboard-visual {
    margin-top: 2rem;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.key {
    border: 1px solid #00ff99;
    padding: 10px 20px;
    font-size: 24px;
    transition: all 0.1s ease;
    
    /* Text Glow */
    text-shadow: 0 0 8px rgba(0, 255, 153, 0.6);
    /* Border Glow */
    box-shadow: 0 0 10px rgba(0, 255, 153, 0.2);
}

/* The "Pressed" state: Darker and transparent */
.key.pressed {
    background-color: rgba(0, 255, 153, 0.1);
    color: rgba(0, 255, 153, 0.3);
    text-shadow: none; /* Removes the text glow */
    box-shadow: none;   /* Removes the border glow */
    transform: scale(0.95);
}